.modalCancelOrder .ant-modal-title {
  font-weight: bold;
  color: #1890ff;
}

.modalCancelOrder .ant-modal-header {
  padding-bottom: 0;
}

.modalCancelOrder .ant-modal-close-x span {
  color: #1890ff;
  transform: translate(20%, -50%);
}
.modalCancelOrder .ant-radio-group {
  display: flex;
  flex-direction: column;
}
.modalCancelOrder .ant-modal-header {
  border: none;
}

.tips {
  background-color: rgba(24, 144, 255, 0.3);
  padding: 15px;
  padding-left: 30px;
  border-radius: 5px;
}

.tips h6 {
  margin-left: -20px;
}

.tips .warningIcon {
  color: #1890ff;
  font-size: 18px;
}

.tips p {
  margin: 0;
}

.reasonCancel {
  margin-top: 30px;
}
.reasonCancel h6 {
  margin-bottom: 15px;
}

.reasonCancel .ant-radio-wrapper {
  margin-bottom: 10px;
}

.modalCancelOrder .btnModal {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto 0;
}

.modalCancelOrder .btnModal .ant-btn {
  display: inline-block;
  width: 48%;
}

.modalCancelOrder .ant-input {
  width: 93.5%;
  display: block;
  margin-left: auto;
  margin-bottom: 30px;
}

.modalCancelOrder .ant-input:focus {
  box-shadow: none;
}
