@font-face {
  font-family: 'BinancePlex';
  src: url('app/assets/fonts/BinancePlex-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: 'BinancePlex';
  src: url('app/assets/fonts/BinancePlex-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: fallback;
}
@font-face {
  font-family: 'BinancePlex';
  src: url('app/assets/fonts/BinancePlex-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-display: fallback;
}
body {
  font-family: BinancePlex, sans-serif;
  font-size: 14px;
}
